.form {
  label.ant-form-item-required {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text);
  }
  input[type="text"],
  input[type="password"],
  textarea.ant-input {
    font-size: 18px;
  }
  .ant-input-affix-wrapper,
  .ant-input {
    background-color: var(--sub-background) !important;
  }
  .ant-input-textarea-show-count::after {
    color: var(--text);
  }
  button {
    border: 2px solid var(--text);
    color: var(--text);
    background-color: transparent;
    font-size: 1rem;
    line-height: 1rem;
    box-shadow: none;
  }
  button:hover,
  button:focus {
    background-color: rgba(100, 100, 100, 0.2);
    color: #40a9ff;
    border-color: #40a9ff;
  }
}

button:hover,
button:focus {
  background-color: rgba(100, 100, 100, 0.2);
  color: #40a9ff;
  border-color: #40a9ff;
}

input[type="radio"] {
  transform: scale(1.5);
  cursor: pointer;
}
input[type="radio"] + label {
  margin-left: 10px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .form {
    label.ant-form-item-required {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    button {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }

  input[type="radio"] + label {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}